{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Listing: {{ listing.title }}</h2>

        <div>
            {% if user.is_authenticated %}
                <form action="{% url 'toggle_watchlist' listing.id %}" method="POST">
                    {% csrf_token %}
                    {% if is_watching %}
                        <button type="submit" class="btn btn-warning btn-sm border-0">★ Watching</button>
                    {% else %}
                    <button type="submit" class="btn btn-sm btn-secondary border-0">★ Add to Watchlist</button>
                    {% endif %}
                </form>
            {% else %}
            {% endif %}
        </div>

    <div class="container-fluid mt-3">
        <img 
        src="{{ listing.image_url|default_if_none:'https://img.freepik.com/premium-vector/no-photo-available-vector-icon-default-image-symbol-picture-coming-soon-web-site-mobile-app_87543-10615.jpg' }}"
        alt="{{ listing.title }}"
        class="rounded img-fluid"
        style="height: 300px; width: auto; object-fit: cover;"
        onerror="this.onerror=null; this.src='https://img.freepik.com/premium-vector/no-photo-available-vector-icon-default-image-symbol-picture-coming-soon-web-site-mobile-app_87543-10615.jpg';"
        />
    </div>

    <div class="container-fluid mt-5">
        <p><strong>Description:</strong> {{ listing.description }}</p>
    </div>

    <div class="container-fluid mt-3">
        <p class="display-6">{{ listing.highest_bid }} €</p>
    </div>

    
    <div class="container-fluid mt-3" style="max-width: 300px; margin-left: 0px;">
        <p><small>{{ listing.bids_count }} bid(s) so far.</small></p> 
            {% if user.is_authenticated %}
                    {% if request.user != listing.owner and listing.active %}

                        {% if user_has_highest %}    
                            <p><strong>Your bid is the current highest bid.</strong></p>
                        {% else %}
                            <p>Your bid is not the highest.</p>
                        {% endif %}
            
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-{{ message.tags }} mt-2">
                                    {{ message }}
                                    </div>
                            {% endfor %}
                        {% endif %}

                        <form action="{% url 'place_bid' listing.id %}" method="POST">
                            {% csrf_token %}
                            {{ form_bid.as_p }}
                            <button type="submit" class="btn btn-primary">Place bid</button>
                        </form>
                {% elif request.user == listing.highest_bid_user and not listing.active %}
                        <p class="display-6 badge text-bg-success">You won the auction</p>
                    
                {% endif %}

                {% if request.user == listing.owner and listing.active %}
                    <form action="{% url 'close_auction' listing.id %}" method="POST" class="mt-3">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-danger">Close auction</button>
                    </form>
                {% endif %}

            {% endif %}

            {% if not listing.active %}
                 <p class="badge text-bg-danger">Auction is closed</p>
            {% endif %}

        </div>
    

    <div class="container-fluid mt-3">
        <ul>
            <li>Listed by: <span><a href="{% url 'profile' listing.owner.id %}">{{ listing.owner }}</a></span></li>
            <li>Category: {{listing.category}}</li>
        </ul>
    </div>

{% endblock %}