{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Listing: {{ listing.title }}</h2>

        <div>
            {% if user.is_authenticated %}
                <form action="{% url 'toggle_watchlist' listing.id %}" method="POST">
                    {% csrf_token %}
                    {% if is_watching %}
                        <button type="submit" class="btn btn-warning btn-sm border-0">★ Watching</button>
                    {% else %}
                    <button type="submit" class="btn btn-sm btn-secondary border-0">★ Add to Watchlist</button>
                    {% endif %}
                </form>
            {% else %}
            {% endif %}
        </div>

<div class="container-fluid mt-3">
        <img 
        src="{{ listing.image_url|default_if_none:'https://img.freepik.com/premium-vector/no-photo-available-vector-icon-default-image-symbol-picture-coming-soon-web-site-mobile-app_87543-10615.jpg' }}"
        alt="{{ listing.title }}"
        class="rounded float-start img-fluid"
        style="height: 300px; width: auto; object-fit: cover;"
        onerror="this.onerror=null; this.src='https://img.freepik.com/premium-vector/no-photo-available-vector-icon-default-image-symbol-picture-coming-soon-web-site-mobile-app_87543-10615.jpg';"
        />
    </div>

{% endblock %}